.featured__title {
  font-size: var(--size-2xl);
  color: var(--clr-slate600);
  text-transform: uppercase;
  font-weight: bold;
}
.featured__wrapper {
  display: flex;

  gap: 0.25rem;
  align-items: center;
}
.featured__link {
  width: var(--size-2xl);
  aspect-ratio: 1;
}
.featured__title:hover {
  color: var(--clr-light);
}
/* xs*/
@media (width>475px) {
  .features__title {
    font-size: var(--size-3xl);
  }

  .featured__link {
    width: var(--size-3xl);
    aspect-ratio: 1;
  }
}
/* sm */
/* @media (width>640px) {
} */
/* lg */
@media (width>1024px) {
  .features__title {
    font-size: var(--size-4xl);
  }

  .featured__link {
    width: var(--size-3xl);
    aspect-ratio: 1;
  }
}

/* xl */
@media (width>1280px) {
  .features__title {
    font-size: var(--size-5xl);
  }

  .featured__link {
    width: var(--size-4xl);
    aspect-ratio: 1;
  }
}
