/* @media (width>475px) {
}
@media (width>640px) {
}
@media (width>768px) {
}
@media (width>1024px) {
}
@media (width>1280px) {
}
@media (width>1536px) {
} */

strong {
  color: var(--clr-accent);
}
.btn {
  display: inline-block;
  font-weight: 600;
  letter-spacing: -0.05em;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 0.375rem;
  background-color: var(--clr-rose);
  color: #f1f5f9;
  box-shadow: 0 10px 20px rgba(225 29 72 /0.5), 0 6px 6px rgba(225 29 72 /0.5),
    0 0 100px -10px var(--clr-rose);
  transition: transform 0.3s, box-shadow 0.3s;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 14px 28px rgba(225 29 72 /0.25),
    0 10px 10px rgba(225 29 72 /0.22), 0 0 120px -10px var(--clr-rose);
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 0.5rem;
}
.section {
  margin-top: 5rem;
}
.loading {
  filter: blur(40px) grayscale(100%);
}
.loaded {
  filter: blur(0px) grayscale(0%);
  transition: 0.5s ease-in-out;
}
/* xs */
@media (width>475px) {
  .container {
    max-width: 475px;
  }
}
/* sm */
@media (width>640px) {
  .container {
    max-width: 640px;
  }
}
/* md */
@media (width>768px) {
  .container {
    max-width: 768px;
  }
}
/* lg */
@media (width>1024px) {
  .container {
    max-width: 1024px;
  }
  .section {
    margin-top: 10rem;
  }
}
/* xl */
@media (width>1280px) {
  .container {
    max-width: 1280px;
  }
}
/* xxl */
@media (width>1536px) {
  .container {
    max-width: 1536px;
  }
}
